*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
}

body{
      overflow-x: hidden;
      font-family: "Poppins", sans-serif;
      /* font-family: "Inter", sans-serif; */
}

html{
      scroll-behavior: smooth;
}

.container{
      max-width: 1190px;
      margin:  0 auto;
      padding: 0 10px;
}

.top{
      display: flex;
      align-items: center;
      text-align: center;
      background: #000;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 445px;
      padding-right: 136px;
      margin-bottom: 40px;
}

.top_p{
      color: #fff;
      font-size: 14px;
      margin-right: 8px;
}

.top_a{
      color: #fff;
      font-size: 14px;
      margin-right: 231px;
}

.bars{
      display: none;
}

.top_select{
      color: #fff;
      background: #000;
      border: none;
}

.nav{
      border-bottom: 1px solid #00000088;
      margin-top: 16px;
}

.nav_content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
}

.nav_logo{
      color: #000;
      font-size: 24px;
      font-weight: 700;
      font-family: "Inter", sans-serif;
}

.nav_link{
      display: flex;
      align-items: center;
      gap: 48px;
      list-style: none;
}

.nav_a{
      text-decoration: none;
      color: #000;
}

.nav_right{
      display: flex;
      align-items: center;
      gap: 24px;
}

.nav_input{
      background: #F5F5F5;
      padding: 7px 12px;
}

.nav_input{
      border: none;
      outline: none;
      font-family: "Poppins", sans-serif;
}

.resNav{
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 35%;
      background-color: #000;
      padding: 80px 40px;
      z-index: 1000;
      box-shadow: 2px 0px 10px #999;
      transform: translateX(-110%);
      transition: transform 0.3s linear;
}

.resNav_list{
      flex-direction: column;
      align-items: start;
}

.resNav_list a{
      color: #fff;
      font-size: 25px;
}

.resNav.active{
      transform: translateX(0%);
}

.close{
      display: flex;
      align-items: end;
      justify-content: end;
}

.things_content{
      display: flex;
      gap: 45px;
}

.things_right{
      display: flex;
      margin-top: 40px;
      background: #000;
      padding: 16px 64px;
      position: relative;
}

.things_left{
      display: flex;
      margin-top: 40px;
      line-height: 40px;
}

.hr{
      display: flex;
      flex-direction: column;
      width: 1px;
      height: 395px;
      background: #000;
}

.things_right_h1{
      font-size: 48px;
      font-weight: 600;
      color: #fafafa;
      font-family: "Inter", sans-serif;
      margin-bottom: 22px;
      width: 294px;
}

.things_right_img{
      margin-top: 50px;
      margin-bottom: 20px;
}

.things_right_a{
      color: #fafafa;
      margin-right: 10px;
}

.things_right_span1{
      width: 12px;
      height: 12px;
      gap: 12px;
      display: flex;
      border-radius: 50%;
      background-color: #636363;
}

.things_right_span2{
      width: 12px;
      height: 12px;
      gap: 12px;
      display: flex;
      border-radius: 50%;
      background-color: #636363;
}

.things_right_span4{
      width: 12px;
      height: 12px;
      gap: 12px;
      display: flex;
      border-radius: 50%;
      background-color: #636363;
}

.things_right_span5{
      width: 12px;
      height: 12px;
      gap: 12px;
      display: flex;
      border-radius: 50%;
      background-color: #636363;
}

.active_span{
      width: 14px;
      height: 14px;
      background: #DB4444;
      border: 2px solid #fff;
      border-radius: 50%;
}

.things_right_spans{
      display: flex;
      align-items: center;
      position: absolute;
      gap: 12px;
      left: 45%;
      bottom: 3%;
}

.things_right_img2{
      width: 496px;
      height: 352;
}

.discount_content{
      margin-top: 150px;
}

.discount_up_up_span{
      width: 20px;
      height: 40px;
      background: #DB4444;
      color: #DB4444;
      display: flex;
      border-radius: 4px;
}

.discount_up_up{
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 24px;
}

.discount_up_up_h1{
      color: #DB4444;
      font-size: 16px;
}

.discount_up_down{
      display: flex;
      align-items: center;
      gap: 87px;
}

.discount_up_down_h1{
      font-size: 36px;
      font-family: "Inter", sans-serif;
      font-weight: 600;
}

.discount_time h1{
      font-size: 32px;
      font-weight: 700;
}

.discount_time .discount_span{
      font-size: 12px;
      font-weight: 500;
      margin-right: 45px;
}

.h1_span{
      color: #DB4444;
      font-size: 20px;
      margin-left: 17px;
      margin-right: 17px;
}

.nav_a1{
      border-bottom: 1px solid #000;
}


.discount_up{
      margin-bottom: 40px;
}

.discount_down{
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
      align-items: center;
      justify-content: center;
      margin: 0 auto;
}

.dowin_card_1{
      width: 270px;
      height: 350px;
}

._1{
      background: #F5F5F5;
      padding: 49px;
      width: 270px;
      height: 250px;
}

.card_span{
      width: 55px;
      height: 26px;
      background: #DB4444;
      color: #fff;
      text-align: center;
      border-radius: 4px;
      position: absolute;
      top: 2%;
      left: 2%;
}

.dowin_card_1{
      position: relative;
      transition: 0.3s;
      width: 270px;
      height: 250px;
}

.dowin_card_1:hover{
      transform: scale(1.1);
      cursor: pointer;
}

.down_card_icons{
      display: flex;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 2%;
      right: 2%;
      gap: 10px;
}

.discount_down_card_h2{
      font-size: 16px;
      margin-bottom: 8px;
}

.discount_down_card_p{
      color: #DB4444;
      font-size: 16px;
      font-weight: 500;
}

.discount_down_card_p span{
      color: #636363;
      margin-left: 12px;
      text-decoration: line-through;
}

.discount_up_down{
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.discount_up_icons{
      display: flex;
      align-items: center;
      gap: 8px;
      text-align: center;
}

.discount_up_icons i{
      padding-top: 21px;
      width: 46px;
      height: 46px;
      background-color: #F5F5F5;
      text-align: center;
      border-radius: 50%;
      cursor: pointer;
      animation-name: arrow;
      animation-duration: 2s;
      transition: .3s;
}

.icons_1:hover{
      transform: translate(-11px);
}

.icons_2:hover{
      transform: translate(11px);
}

.discount_btn{
      padding: 16px 48px;
      background-color: #DB4444;
      color: #fff;
      border: 2px solid transparent;
      text-align: center;
      margin-left: 40%;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      margin-top: 100px;
      transition: .3s;
      margin-bottom: 60px;
}

.discount_btn:hover{
      background-color: transparent;
      color: #DB4444;
      border: 2px solid #DB4444;
}

.discount_btn:active{
      background-color: #db44447c;
}

.categories_card_1{
      width: 170px;
      height: 145px;
      border: 1px solid;
      border-radius: 4px;
      align-items: center;
      padding: 25px;
      text-align: center;
}

.categories_card_1:hover{
      background-color: #DB4444;
      color: #fff;
}

.categories_card_h{
      font-size: 16px;
      font-weight: 400;
      text-align: center;
}

.active_card{
      background: #DB4444;
      color: #fff;
      text-align: center;
}

.categories_down{
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
}

.categories_card_1:hover{
      transform: scale(1.1);
      cursor: pointer;
}


.categories_card_1{
      transition: 0.3s linear;
}

.toCard{
      background-color: #000;
      padding: 8px 87px;
      color: #fff;
      transition: 0.3s;
      opacity: 0;
      position: absolute;
      top: 200px;
}
.toCard:hover{
      opacity: 1;
}

.toCard:active{
      background-color: #00000094;
}

.categories_down{
      margin-bottom: 70px;
}

.categories_hr{
      margin-bottom: 70px;
}


.experience_content{
      display: flex;
      margin-top: 280px;
      background-color: #000;
      height: 500px;
      padding: 43px 65px;
      margin-bottom: 71px;
      align-items: center;
      justify-content: space-between;
}

.exp_left_p{
      color: #00FF66;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 32px;
}

.exp_left_h{
      color: #fff;
      font-size: 48px;
      font-weight: 600;
      font-family: "Inter", sans-serif;
}

.exp_span{
      display: flex;
      align-items: center;
      gap: 24px;
      text-align: center;
      margin-top: 32px;
}

.exp_span2{
      background-color: #fff;
      width: 62px;
      height: 62px;
      border-radius: 50%;
      margin-bottom: 40px;
      font-weight: 600;
      padding-top: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
}

.exp_span2 span{
      font-size: 11px;
}

.exp_btn{
      padding: 16px 48px;
      color: #fafafa;
      background: #00FF66;
      border: 2px solid transparent;
      font-size: 16px;
      font-weight: 500;
      transition: .3s;
      border-radius: 4px;
}

.exp_btn:hover{
      cursor: pointer;
      border: 2px solid #00FF66;
      background-color: transparent;
}

.exp_btn:active{
      background-color: #00ff6688;
}

.products_card{
      margin-top: 160px;
}

.featured_up{
      margin-top: 140px;
}

.featured_down{
      display: flex;
      margin-top: 60px;
      gap: 30px;
}

.featured_card1{
      width: 570px;
      height: 600px;
      background: url(../img/ps5-slim-goedkope-playstation_large\ 1.png), linear-gradient(#000, #000);
      background-position: bottom;
      background-repeat: no-repeat;
      padding: 0px 32px;
      padding-top: 446px;
      cursor: pointer;
}

.featured_card1_h3{
      color: #fafafa;
      font-family: "Inter", sans-serif;
      font-size: 24px;
      font-weight: 500;
}

.featured_content{
      margin-bottom: 140px;
}

.featured_card1_p{
      color: #fafafa;
      width: 242px;
      margin-top: 16px;
      margin-bottom: 16px;
}

.featured_card1_a{
      color: #fafafa;
      text-decoration: none;
      border-bottom: 1px solid #fafafa;
}

.featured_card2{
      padding: 24px;
      width: 570px;
      padding-top: 135px;
      padding-bottom: 24px;
      height: 284px;
      background: url(../img/attractive-woman-wearing-hat-posing-black-background\ 1.png), linear-gradient(#0D0D0D, #0D0D0D);
      background-position: right;
      background-repeat: no-repeat;
}

.featured_card3{
      width: 270px;
      height: 284px;
      margin-top: 32px;
      background: url(../img/Frame\ 707.png), linear-gradient(#0D0D0D, #0D0D0D);
      background-position: bottom;
      background-repeat: no-repeat;
      padding: 0 24px;
      padding-top: 144px;
}

.featured_cards2{
      display: flex;
      gap: 30px;
}

.featured_card4{
      background: url(../img/Frame\ 706.png), linear-gradient(#0D0D0D, #0D0D0D);
      background-repeat: no-repeat;
      background-position: bottom;
}

.services_cards{
      display: flex;
      align-items: center;
      gap: 88px;
      text-align: center;
      justify-content: center;
}

.services_card1{
      text-align: center;
}

.services_card1_up{
      background-color: #2F2E30;
      width: 80px;
      height: 80px;
      text-align: center;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 100px;
}

.services_card_1_up_litte{
      background-color: #000;
      width: 58px;
      height: 58px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
}

.services_content{
      margin-bottom: 140px;
}

.toTop{
      padding: 11px;
      border-radius: 50%;
      background-color: #F5F5F5;
      border: 2px solid transparent;
      position: fixed;
      bottom: 20px;
      left: 90%;
      transition: .3s;
      display: none;
}

.toTop:hover{
      transform: translateY(-15px);
}



.footer{
      background-color: #000;
      height: 430px;
      padding-top: 80px;
}

.footer_content{
      display: flex;
      gap: 87px;
}

.Exc_input{
      display: flex;
      align-items: center;
      border: 2px solid white;
      height: 48px;
      width: 217px;
      padding: 12px 16px;
      gap: 32px;
      margin-top: 16px;
      border-radius: 4px;
}

.Exc_input_input{
      border: none;
      outline: none;
      color: #fff;
      background-color: #000;
      font-size: 16px;
      font-weight: 400;
      width: 130px;
      height: 24px;
}

.Exclusive_h3{
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      font-family: "Inter", sans-serif;
      margin-bottom: 24px;
}

.Exclusive_p1{
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 24px;
}

.Exclusive_p2{
      font-size: 16px;
      font-weight: 400;
      color: #fff;
}

.Exclusive2{
      margin-bottom: 16px;
}

.Exclusive3_p{
      font-size: 12px;
      margin-bottom: 5px;
}

.Exclusive3{
      width: 198px;
      height: 210px;
}

.footer_end{
      text-align: center;
      font-size: 16px;
      color: #fff;
}

.Footer_hr{
      margin-bottom: 16px;
}